<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Discord Messages</h1>
      <nav>
        <ul>
          {% if 'urls' not in request.url_rule.rule %}
          <li><a href="{{ url_for('urls') }}">URLs</a></li>
          {% endif %}
          {% if 'comments' not in request.url_rule.rule %}
          <li><a href="{{ url_for('comments') }}">Comments</a></li>
          {% endif %}
          {% if 'yt' not in request.url_rule.rule %}
          <li><a href="{{ url_for('yt') }}">YouTube</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block yt_preview %}
    {% endblock %}
  </body>
</html>
