<!DOCTYPE html>
<html>
<head>
    <title>My Dreams</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body data-theme="light">
    <h1>My Dreams</h1>

    <input type="checkbox" id="toggle-dark-theme">
    <label for="toggle-dark-theme" id="toggle-dark-theme-label">Toggle dark theme</label>

    <h2>Countdown</h2>
    <div id="countdown">
        <span id="countdown-title">Time left:</span>
        <span id="countdown-time">{{ remaining_time }}</span>
    </div>
    
    <script src="main.js"></script>

    <hr>
    <h2>Dreams</h2>
    <ul>
        {% for dream in dreams %}
            <li style="white-space: pre-wrap;">{{ dream }}</li>
        {% endfor %}
    </ul>
    
    <hr>
    <h2>Links</h2>
    {% for domain, urls in urls_dict.items() %}
        <h3>{{ domain }}</h3>
        <ul>
            {% for url in urls %}
                <li><a href="{{ url }}">{{ url }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h3> D20 sideproject </h3>
    <video width="560" height="315" autoplay>
    <source src="d20roll.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</body>
</html>
