<!DOCTYPE html>
<html>
<head>
    <title>Operation MINDFUCK</title>
</head>

<body>
    <div id="countdown"></div>

    <script>
        function startCountdown() {
            var seconds = 60;
            var countdownElement = document.getElementById("countdown");
            var countdownInterval = setInterval(function() {
                countdownElement.innerHTML = "Time left: " + seconds;
                seconds -= 1;
                if (seconds < 0) {
                    clearInterval(countdownInterval);
                    location.reload();
                }
            }, 1000);
        }

        startCountdown();
    </script>
    
    <iframe width="560" height="315" src="{{ yt_url }}" frameborder="0" allowfullscreen></iframe>

    <h1>Discord Messages</h1>
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h1>Links</h1>
    {% for domain, urls in urls_dict.items() %}
        <h2>{{ domain }}</h2>
        <ul>
            {% for url in urls %}
                <li><a href="{{ url }}">{{ url }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
