<!DOCTYPE html>
<html>
<head>
    <title>Discord Messagez</title>
    <style>
        #countdown {
            font-size: 36px;
            font-weight: bold;
            margin-top: 20px;
            padding-top: 20px;
        }
        .dice {
            display: inline-block;
            width: 80px;
            height: 80px;
            border: 1px solid black;
            border-radius: 50%;
            text-align: center;
            font-size: 50px;
            line-height: 80px;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <h1>Operation Mindfuck</h1>


    <a href="{{ url_for('pictures') }}"><img src="static/d201.png"></a>

    <h3>D20 sideproject</h3>
    <div class="dice">20</div>
    <script>
      // Function to roll a D20 dice and update the dice face
      function rollDice() {
        var dice = document.querySelector(".dice");
        var result = Math.floor(Math.random() * 20) + 1;
        dice.innerText = result;
      }
      
      // Call the rollDice function when the dice is clicked
      var dice = document.querySelector(".dice");
      dice.addEventListener("click", rollDice);
    </script>

    <h4>D20 testing area</h4>
    <div id="image-container">
      <img id="image" src="{{ url_for('static', filename='d201.png') }}" alt="Image">
    </div>
    <script>
      var images = ['d201.png', 'd202.png', 'd203.png'];
      var index = 0;
      var intervalId = setInterval(function() {
        index = (index + 1) % images.length;
        var imageUrl = "{{ url_for('static', filename='" + images[index] + "') }}";
        document.getElementById('image').src = imageUrl;
      }, 3000); // Change 3000 to the number of milliseconds you want to wait between image changes
    </script>

    
    
    <h2>Links</h2>
    <ul>
        <li><a href="{{ url_for('random_dreams') }}">Dreams</a></li>
        <li><a href="{{ url_for('yt') }}">YouTube</a></li>
        <li><a href="{{ url_for('pictures') }}">Pictures</a></li>
        <li><a href="{{ url_for('dreams') }}">Chronological Dreams for Dissasociated Teens</a></li>
    </ul>

    <h2>Countdown</h2>
    <div id="countdown">
        <span id="countdown-title">Time left:</span>
        <span id="countdown-time">{{ remaining_time }}</span>
    </div>
    

    <script>
        function startCountdown() {
            var seconds = 60;
            var countdownElement = document.getElementById("countdown");
            var countdownInterval = setInterval(function() {

                countdownElement.innerHTML = "<span id='countdown-title'>Time left: </span>" + seconds;
                seconds -= 1;
                if (seconds < 0) {
                    clearInterval(countdownInterval);
                    location.reload();
                }
            }, 1000);
        }

        startCountdown();
    </script>

    <hr>
    <h2>Messages</h2>
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% if yt_url %}
    <hr>
    <iframe width="560" height="315" src="{{ yt_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% endif %}
    <hr>
    <h2>Links</h2>
    {% for domain, urls in urls_dict.items() %}
        <h3>{{ domain }}</h3>
        <ul>
            {% for url in urls %}
                <li><a href="{{ url }}">{{ url }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

 
</body>
</html>
